@import model.Company

@(companies: Seq[Company])

@main("List of all companies") {
    <h1>Companies</h1>

    @if(true) { @* Should be only for admin user *@
    <a href="/mgmt/create-company">Create new company</a>
    }

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
            </tr>
        </thead>

        @for(company <- companies) {
            <tr>
                <td>@company.id</td>
                <td>@company.name</td>
            </tr>
        }

    </table>
}
