@import model.Department

@(departments: Seq[Department])(implicit request: RequestHeader, messages: Messages )

@main("Departments") {

    <a href="@controllers.routes.OrganizationController.createDepartment()">Create new department</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
        @for(department <- departments) {
            <tr>
                <td><a href="@controllers.routes.OrganizationController.departmentInfo(department.id.get)">@department.id</a></td>
                <td><a href="@controllers.routes.OrganizationController.departmentInfo(department.id.get)">@department.code</a></td>
                <td>@department.name</td>
                <td>@department.description</td>
            </tr>
        }
        </tbody>
    </table>
}