@import model.Department

@import model.Project
@(project: Project)(implicit request: RequestHeader, messages: Messages )

@main("Create / Modify project") {

    <div class="container" >
        <form method="POST" action="@controllers.routes.OrganizationController.submitProject()">
            @helper.CSRF.formField @* implicit RequestHeader required *@

            @request.flash.get("error").map { msg =>
                <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>@Messages("error")</strong> @msg
                </div>
            }

            <div class="form-group">
                <label for="inputDepartmentId">Department ID</label>
                <input type="text" pattern="\d{1,10}" class="form-control" readonly="true"
                id="inputDepartmentId" name="departmentId" value="@project.departmentId" >
            </div>

            @if(project.id.isDefined) {
                <div class="form-group">
                    <label for="inputId">ID</label>
                    <input type="text" pattern="\d{1,10}" class="form-control" readonly="true"
                    id="inputId" name="id" value="@project.id" >
                </div>
            }

            <div class="form-group">
                <label for="inputCode">Code</label>
                <input type="text" pattern="\w{1,16}" class="form-control"
                id="inputCode" name="code" value="@project.code"
                placeholder="departcode" size="16">
            </div>

            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control"
                id="inputName" name="name" value="@project.name"
                placeholder="Department name" size="256">
            </div>

            <div class="form-group">
                <label for="inputDescription">Description</label>
                <input type="text" class="form-control"
                id="inputDescription" name="description" value="@project.description"
                placeholder="Department name" size="4096">
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

}