@import model.Team
@import model.Project

@(team: Team, project: Project)

@main("Team info") {
    <h1>Team info</h1>

    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Code</th>
                <td>@team.code</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>@team.name</td>
            </tr>
            <tr>
                <th scope="row">Project</th>
                <td>@project.name</td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td>@team.description</td>
            </tr>
            <tr>
                <th scope="row">Team members</th>
                <td><a href="@controllers.routes.OrganizationController.teamMembers(team.id.get)" >See</a></td>
            </tr>
        </tbody>
    </table>
}